$backgroud-color: #EAEAEA;

.login-view {
    width: 60%;
    padding: 30px;
    border-radius: 14px;
    border: 4px ridge;
    background-color: $backgroud-color;
    
}

.register-button {
    width: 60%;
    margin-top: 30px;
}