$primary-color : steelblue;
$backgroud-color: #D4D4D4;

:root {
    background: $backgroud-color;
}

.my-flix {
    color: $primary-color;
    background: $backgroud-color;
    font-family: 'PT Sans', sans-serif;
}
